<%- include("partials/header"); %>
<div class="container" >
<div class="row fast-food" >
 

    <%  if(fastFoodRecipes!=""){%>
        <% fastFoodRecipes.forEach(function(recipe) { %>
            <div class="col-lg-6 ">
            <p><%=recipe.name%></p>
            <a href="/recipes/<%= recipe._id %>"> <img class="rectangle"  src="/css/<%= recipe.image %>"/></a>
        </div>
        <%  }) %>
        <%  }  %>
</div>
</div>
<%- include("partials/footer"); %>
