<%- include("partials/header"); %>
<div class="main">
  <div class="banner">
  <h1 class="homeHeading">
      <%= heading %>
  </h1>
  <p class="homeContent">
      <%= content %>
  </p>
  <form method="POST" action="/search">
    <input type="search" name="searchTerm" class="form-control " placeholder="Search..." aria-label="search"  >
  </form>
  </div>

<div class="container" >
    <div class="row">
        <h2 class="Famous">Our Signature Recipes</h2>
        <%  if(recipes!=""){%>
          <% recipes.forEach(function(recipe) { %>
        <div class="col-lg-4">
          <img class="circleImg" src="/css/<%= recipe.image %>"/>
          <h2 class="fw-normal"><%= recipe.name %></h2>
          <p width="50px" height="20px">Try this yummilicious russian salad recipe on your boring days and made them magical.</p>
          <p><a class="btn btn-secondary" href="/recipes/<%= recipe._id %>">View details »</a></p>
        </div>
        <%  }) %>
    <%  }  %> 
</div> 


<div class="row ">
<h2 class="Famous">You May Also Like</h2>
<div class="card-deck ">
  <%  if(recent!=""){%>
    <% recent.forEach(function(recipe) { %>
  <div class="card col-6 col-md-6 col-lg-3 col-xl-3">
   
    <br> 
    <a href="/recipes/<%= recipe._id %>">
    <img class="card-img-top" src="/css/<%= recipe.image %>" alt="Card image cap"></a>
    <div class="card-body">
      <h2 class="fw-normal"><%= recipe.name %></h2>
  
    </div>
  </div>
  <%  }) %>
  <%  }  %>  
</div>
</div>


</div>
<%- include("partials/footer"); %>
